flask
flask-sqlalchemy
flask-login
flask-bcrypt
flask-limiter
requests
beautifulsoup4
openai
markdown
python-docx
python-dotenv
textstat
validators
fake-useragent
gunicorn
psycopg2-binary
Flask-Mail==0.9.1
